version: "3.9"

services:
  tailscale:
    image: tailscale/tailscale:latest
    container_name: tailscale
    restart: unless-stopped
    environment:
      - TS_STATE_DIR=/var/lib/tailscale
      - TS_EXTRA_ARGS=--advertise-exit-node --ssh
      - TS_AUTHKEY=tskey-auth-kLdPbd7f7E11CNTRL-zDMwmKzpEtLJAgPM89jStLrkwrwP9C23
      - TS_HOSTNAME=dxp4800
    volumes:
      - /volume2/docker/tailscale:/var/lib/tailscale
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - NET_ADMIN
      - NET_RAW
    network_mode: bridge

  postgres:
    image: postgres:18
    container_name: pg-mimicdb
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: PSQLpwd4!
      POSTGRES_DB: mimiciv
      PGDATA: /var/lib/postgresql/18/main
    volumes:
      - /volume2/docker/postgres:/var/lib/postgresql
    # IMPORTANT: Share network with Tailscale container
    network_mode: "container:tailscale"
    depends_on:
      - tailscale
    cap_drop:
      - ALL
    cap_add:
      - CHOWN
      - SETUID
      - SETGID
      - DAC_OVERRIDE
